@page
@model GestionJDR.Pages.Joueurs.IndexModel

@{
    ViewData["Title"] = "Joueurs";
}

<h1>Joueurs</h1>

<p>
    <a asp-page="Create">Ajouter un nouveau joueur</a>
</p>

<form>
    <p>
        <select asp-for="NomJoueur" asp-items="Model.Players">
            <option value="">Liste des Joueurs</option>
        </select>
        Jeux Joués : <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Joueur[0].PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur[0].FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueur[0].Jdr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Joueur)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jdr)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
